<!DOCTYPE html>
<html>
<head>
  <title>Oereo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%# accounts %>
<div class="developer_nav">
  <% if current_developer %>
    Logged in as <%= current_developer.email %>.
    <%= link_to 'Log out', log_out_path %>
  <% else %>
    <%= link_to 'Register', register_path %> or <%= link_to 'log in', log_in_path %>
  <% end %>
</div>

<%# flashes %>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>

<%# content %>
<%= yield %>

</body>
</html>
